include LICENSE
include README.rst
include githubcap-cli
include *requirements*.txt
include Pipfile
include Pipfile.lock
include Makefile
include Makefile.docs
recursive-include test *.py
recursive-include docs.source *.rst
